<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Users</title>
</head>
<body>
<!--                      black head         -->
<div class="row">
    <div class="col-2 p-3 mb-2 bg-dark text-white">
        <div style="font-weight: bold;" th:text="${currentUser.email}"></div></div>
    <div class="col-9 p-3 mb-2 bg-dark text-white">
        <div th:each="i : ${currentUser.getRoles()}" th:text="${#strings.substringAfter(i.getAuthority(), '_') + ' '}"></div></div>
    <div class="col-1 p-3 mb-2 bg-dark text-white">
        <a th:href="@{/logout}" class="text-secondary">Logout</a></div>
</div>
<!--                    black head END-->


<div>
    <!--    pills BEGIN-->
    <div class="row">
        <!--        right side pills  -->
        <div class="col-3" style="background-color: white">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab" aria-controls="v-pills-user" aria-selected="true">User</a>
            </div>
        </div>
        <!--        right side pills END-->

        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">

                <!--                User Info-->
                <div class="tab-pane fade show active" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                    <div class="userInfo row">

                    </div>
                    <div th:switch="${currentUser}">
                        <h2>User Information Page</h2>
                        <h4>About User</h4>
                        <td>
                            <table class="table table-striped table-bordered table-condensed">
                                <thead>
                                <tr>
                                    <th width="100" height="50">Id</th>
                                    <th width="300">First Name</th>
                                    <th width="300">Last Name</th>
                                    <th width="300">Age</th>
                                    <th width="200">E-Mail</th>
                                    <th width="160">Roles</th>
                                </tr>
                                </thead>
                                <tbody class="forFetch">
<!--                                <td th:text="*{currentUser.id}"></td>-->
<!--                                <td th:text="*{currentUser.firstName}"></td>-->
<!--                                <td th:text="*{currentUser.lastName}"></td>-->
<!--                                <td th:text="*{currentUser.age}"></td>-->
<!--                                <td th:text="*{currentUser.email}"></td>-->
<!--                                <td><div th:each="i : ${currentUser.getRoles()}" th:text="${#strings.substringAfter(i.getAuthority(), '_') + ' '}"></div></td>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--                User Info END-->
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!--    <script type="text/javascript" th:src="@{../js/main.js}" src="../static/js/main.js"></script>-->
    <!--    <script type="text/javascript" th:src="@{../js/main2.js}" src="../static/js/main2.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</div>
<script th:inline="javascript" type="text/javascript" th:src="@{../js/main.js}" src="../static/js/main.js"></script>
</body>
</html>